body{
    padding: 0px;
    margin-top: 0px;
}

i{
    font-size: 1.2em;
}

#header{
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0px;
    background-color: antiquewhite;
    margin: 0;
    padding: 5px;
    text-align: center;
}

#print_box{
    max-height: 300px;
    overflow-y: scroll;
    border: 2px solid;
    background-color: rgb(183, 219, 230);
    position: sticky;
    top: 96px;
}

#clear_btn{
    width: 100px;
    height: 50px;
    background-color: coral;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5em;
}

#btn_container{
    border: 2px solid;
    height: auto;
}

#result{
    font-size: 1.2em;
    padding: 10px;
    margin: auto;
}

xmp{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.btn{
    padding: 15px;
    margin: 10px auto;
    font-size: 1.2em;
}

.chap_container{
    margin: 5px;
    padding: 5px;
    border: 1px solid green;
    background-color: cadetblue;
}

/* 파란색 글자 */
.blue{
    color: blue;
}

/* 빨간색 글자 */
.red{
    color: red;
}

/* 녹색 글자 */
.green{
    color: green;
}
